*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(1, 45, 120, 0.8),
      rgba(2, 95, 180, 0.8)
    ),
    url("./img/carona.jpg");
  background-size: cover;
  position: relative;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  height: 10.5rem;
  border-radius: 50%;
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 6rem;
}
.heading-primary--main {
  color: #fff;
  display: block;

  font-size: 8rem;
  font-weight: 400;
  letter-spacing: 3.5rem;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.heading-primary--sub {
  color: #ed1c24;
  font-family: "Dancing Script", cursive;
  display: block;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation: moveInRight 1s ease-out;
  margin-bottom: 3rem;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  color: #333;
  letter-spacing: 0.5rem;
}

/* about section */

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.about-row {
  display: grid;
  grid-template-columns: 50% 50%;
}

.about-text {
  font-size: 2rem;
  font-weight: 400;
}

.corona-decoration {
  color: red;
  text-transform: uppercase;
}
.about-text > p {
  margin-bottom: 2rem;
}

/* contact section */
.section-contact {
  padding: 10rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(1, 45, 120, 0.8),
      rgba(2, 95, 180, 0.8)
    ),
    url("./img/fusion.jpg");
  background-size: cover;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15vh);
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15vh);
  margin-top: -10rem;
  height: 95vh;
}

.contact--container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.contact--logo-box {
  display: flex;
  flex-direction: column;
}

.contact-heading {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  color: yellow;
  letter-spacing: 0.5rem;
  padding-left: 8rem;
}

.contact-logo {
  height: 500px;
  padding-top: 1rem;
}
.contact--info > p {
  text-align: center;
  margin-bottom: 6rem;
}
.contact--info > p > span {
  font-size: 3.5rem;
  color: #fff;
  display: block;
}

/* footer */
.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #f7f7f7;
  text-transform: uppercase;
}
heading-secondary--footer {
  color: #fff;
}

/* button */

.btn,
.btn:link,
.btn:visited {
  font-style: "Lato";
  font-weight: 100;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.8rem;

  border: none;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

/* Animations */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* utilities */

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}
.u-margin-top-huge {
  margin-top: 10rem !important;
}

@media screen and (max-width: 600px) {
  body {
    width: 100vw;
  }
  .header {
    padding-top: 1rem;
  }

  .header__logo-box {
    visibility: hidden;
  }

  .heading-primary--main {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
  }

  .about-row {
    display: flex;
    flex-direction: column;
  }

  .about-image {
    width: 85vw;
  }

  .section-contact {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    height: 75vh;
  }

  .contact-logo {
    width: 70vw;
    height: 70vw;
  }
  .contact--info {
    display: none;
  }

  footer > p > span {
    display: inline-block;
  }
}
